name: Metrics
on:
  # Schedule daily updates
  schedule: [{cron: "0 0 * * *"}]
  # (optional) Run workflow manually
  workflow_dispatch:
  # (optional) Run workflow when pushing on master/main
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Options
          user: jsballarini
          template: classic
          base: header, repositories
          config_timezone: America/Sao_Paulo
          
          # Plugins - Mantendo apenas o essencial e simples
          plugin_lines: yes
          
          plugin_languages: yes
          plugin_languages_sections: most-used
          plugin_languages_threshold: 0%
          plugin_languages_limit: 8
          
          plugin_stars: yes
          plugin_stars_limit: 4
